/* Импорт стилей, шрифтов и иконок */
/* Сброс CSS */
@import url("https://marksheet.io/css/reset.css");


/* Базовые стили */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    margin: 0 auto;
}



/* Предустановки */
.row {
    display: flex;
    flex-direction: row; /*было none*/
    font-size: 14px;
}
.column {
    display: flex;
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.btn {
    position: relative;
    display: inline-block;
    width: 195px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    color: #222222;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}
.btn::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    width: 19px;
    height: 16px;
    background-image: url(/hohlova/images/right-arrow-dark.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.btn-yellow {
    background-color: #feca30;
}
.btn-yellow:hover {
    background-color: #fff;
}
.btn-grey {
    width: 215px;
    color: #fff;
    background-color: #222;
    margin-left: 90px;
}
.btn-grey::after {
    background-image: url(/hohlova/images/right-arrow-white.png);
}
.btn-grey:hover {
    background-color: #676767;
}



/* Гибкая верстка */
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col-4 {
    flex: 4;
}
.col-5 {
    flex: 5;
}
.col-6 {
    flex: 6;
}
@media (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}
@media (max-width: 800px) {
    header > div.container,
    section .container,
    .content .block,
    footer .container {
        flex-direction: column;
        align-items: center;
    }
    .moon-rocket {
        order: -1;
        width: 300px;
    }
}


/* Шапка сайта */
header {
    flex: 0 0 auto;
    background-color: #222222;
    font-size: 0.9em;
    padding-right: 20px;
}
header > div.container {
    height: 100%;
    padding-top: 25px;
}
header ul {
    display: flex;
    padding-top: 50px;
    font-size: 14px;
}
header li {
    color: #d4d4d4;
}
header li a {
    padding: 50px 10px 10px 10px;
    margin-right: 10px;
    color: #d4d4d4;
    text-decoration: none;
}
.header-icon {
    display: flex;
    padding-top: 50px;
    align-items: center;
}
.header-icon img {
    padding-right: 20px;
}
.logo {
    padding-top: 25px;
}


/* Основное содержимое */
.man {
    padding-left: 120px;
    width: 300px;
    margin: 0 5vw;
    padding: 60px 0;
}
section {
    flex: 3 0 auto; /* 3 - это ширина столбца */
    padding: 0 90px;
}
.moon {
    flex: 1 0 auto;
    flex-wrap: wrap;
    background-color: #222222;
    padding: 30px 0;
}
.moon-header {
    width: 300px;
    margin: 0 5vw;
    padding: 60px 0;
}
.moon h1 {
    margin: 40px 0;
    font-family: Courier new, monospace;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    color: #fff;
}
.moon p {
    margin-bottom: 50px;
    padding-left: 5px;
    line-height: 22px;
    color: #d4d4d4;
    font-size: 14px;
    width: 90%;
}
.moon img {
    width: 100%;
    max-width: 438px;
    margin: 30px 0;
}

.flying {
    flex: 1 0 auto;
    flex-wrap: wrap;
    background-color: #222222;
    padding: 30px 0;
    padding-bottom: 80px;
    padding-left: 100px;
}
.flying h2 {
    font-family: Courier new, monospace;
    font-weight: bold;
    font-size: 25px;
    color: #feca30;
}
.flying p {
    margin-bottom: 50px;
    margin-top: 5px;
    color: #d4d4d4;
    width: 90%;
}
.flying a {
    color: #feca30;
    width: 90%;
}
table {
    border-collapse: collapse;
    border-spacing: 5px;
}
td {
    padding: 13px;
    padding-right: 50px;
    border-bottom: 2px solid #4b4b4b;
    border-top: 2px solid #4b4b4b;
    color: #d4d4d4;
}
th {
    font-weight: bold;
    vertical-align: bottom;
    text-align: left;
    color: #fff;
    background-color: #111111;
    border: 0px solid #111111;
    padding: 13px;
    padding-right: 120px;
}


.shape {
    flex: 1 0 auto;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    padding: 30px 0;
    padding-bottom: 80px;
    padding-left: 100px;
}
.shape h2 {
    font-family: Courier new, monospace;
    font-weight: bold;
    font-size: 25px;
    color: #202020;
    padding-bottom: 30px;
}
.shape p {
    color: #202020;
    width: 90%;
}
form {
    width: 350px;
    margin-left: auto;
    margin-bottom: 45px;
}
input {
    font-family: "Roboto", sans-serif;
}
input[type="text"] {
    width: 95%;
    height: 40px;
    margin-bottom: 5px;
    padding: 10px;
    border: 0px;
    color: #686868;
}
input[type="txt"] {
    width: 47%;
    height: 40px;
    margin-bottom: 5px;
    padding: 10px;
    border: 0px;
    color: #686868;
}
input[type="checkbox"] {
    margin-top: 20px;
    margin-left: 2.5px;
}

.advantages {
    flex: 1 0 auto;
    font-family: monospace;
    padding: 55px 0 85px 0;
    background-color: #131313;
    color: #ffffff;
}
.advantages div {
    justify-content: space-around;
}
.advantages .block-item {
    max-width: 200px;
}
.advantages p {
    font-size: 14px;
    line-height: 20px;
    color: #d4d4d4;
}
.advantages img {
    padding: 30px 0;
}

.content {
    flex: 1 0 auto;
    padding: 55px 0;
}
.content div {
    justify-content: space-between;
}
.left-column {
    max-width: 440px;
    padding: 30px 30px 30px 0;
}
.right-column {
    max-width: 440px;
    padding: 30px 0;
}
.content img {
    width: 100%;
    max-width: 440px;
}
.content h2 {
    font-family: Courier new, sans-serif;
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 24px;
    line-height: 30px;
}
.content p {
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 15px;
}
.content ul {
    margin-left: 25px;
}
.content li {
    position: relative;
    padding-bottom: 20px;
    font-size: 14px;
}
.content li::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #feca30;
}

/* Подвал сайта */
footer {
    flex: 0 0 auto;
    padding: 85px 0 55px 0;
    background-color: #151418;
    color: #fff;
}
.copyright {
    color: #555555;
    padding-top: 100px;
    font-size: 14px;
    line-height: 20px;
}
footer h3 {
    margin: 20px 20px 40px 0;
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #888888;
}
footer h3 a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}
footer li {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}
footer li a {
    color: #888888;
    text-decoration: none;
}
